<footer>
  <div class="row">
    <div class="small-4 column">
      <a href="#"><img src="{{root}}assets/img/logo-white.svg" class="footer-logo" alt="Los Altos Auxiliary"></a>
    </div>
    <div class="small-12 small-centered column">
      <ul class="menu">
        <li class="footer-link"><a href="about.html">About Us</a></li>
        <li class="footer-link"><a href="fundraisers.html">Our Fundraisers</a></li>
        <li class="footer-link"><a href="hathaway-sycamores.html">About Hathaway-Sycamores</a></li>
        <li class="footer-link"><a href="#">Volunteer or Donate</a></li>
        <li class="footer-link"><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>
