<section class="hero">
  <div class="row">
    <div class="small-centered medium-centered column">
      <h5 class="all-caps">Los Altos Auxiliary &amp Hathaway-Sycamores</h5>
      <h1>Raising money for the El Nido Boys of Hathaway-Sycamores Child and Family Services.</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-10 small-push-2 medium-9 medium-push-3 column">
      <a href="#" class="button hero-button">Get Involved <i class="fi-arrow-right"></i></a>
    </div>
  </div>
</section>
