<div class="top-bar">
  <div class="top-bar-left">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <span class="menu-icon dark" data-toggle></span>
    </span>
    <a href="index.html" class="main-logo"><img src="{{root}}assets/img/logo-type.svg" alt="Los Altos Auxiliary"></a>
  </div>

  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="menu nav-links">
        <li><a href="about.html">About Us</a></li>
        <li><a href="fundraisers.html">Fundraisers</a></li>
        <li><a href="hathaway-sycamores.html">Hathaway-Sycamores</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="#" class="small button donate">Donate</a></li>
      </ul>
    </div>
  </div>
</div>
