<section class="secondary-hero">
  <div class="row">
    <div class="small-centered medium-centered column">
      {{#ifpage 'about'}}
        <h5 class="all-caps">About Us</h5>
        <h1>Los Altos Auxiliary</h1>
        {{/ifpage}}

        {{#ifpage 'hathaway-sycamores'}}
          <h5 class="all-caps">Learn More</h5>
          <h1>Hathaway-Sycamores Child &amp Family Services</h1>
          {{/ifpage}}

        {{#ifpage 'fundraisers'}}
          <h5 class="all-caps">Get Involved</h5>
          <h1>Our Fundraisers</h1>
          {{/ifpage}}

        {{#ifpage 'contact'}}
          <h5 class="all-caps">Get Involved</h5>
          <h1>Contact Information</h1>
          {{/ifpage}}
    </div>
  </div>
</section>
